<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome | College Feedback System</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <h2>Welcome to College Feedback System</h2>
    <p>Select your login type:</p>

    <div class="btn-group">
        <a href="/admin_login" class="btn btn-danger">Login as Admin</a>
        <a href="/student_login" class="btn btn-success">Login as Student</a>
    </div>
</div>

</body>
</html>
